* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
    --logo: #F9FAFB;
}

.container{
    display: grid;
    grid-template-rows: 2fr 16fr 1fr;
    height: 100%;
}

.marck-script-regular {
    font-family: "Marck Script", serif;
    font-weight: 400;
    font-style: normal;
  }  

.header{
    grid-row: 1 / 2;
    background-color: #374151;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header div:first-child{
    font-size: 60px;
    padding: 10px;  
    margin-left: 40px; 
    font-family: "Marck Script";
    color: var(--logo);
}

nav{
    padding: 10px;
    gap: 10px;
    margin-right: 130px;
}

#content{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.image{
    grid-column: 1 / 2;
    background-color: aliceblue;
}

.info{
    
}

.footer{
    grid-row: 3 / 4;
}