* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
    --logo: #F9FAFB;
}

.container{
    display: grid;
    grid-template-rows: 2fr 22fr 1fr;
    height: 100%;
}

.marck-script-regular {
    font-family: "Marck Script", serif;
    font-weight: 400;
    font-style: normal;
  }  

.header{
    grid-row: 1 / 2;
    background-color: oklch(0.205 0 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header div:first-child{
    font-size: 60px;
    padding: 10px;  
    margin-left: 40px; 
    font-family: "Marck Script";
    color: var(--logo);
}

nav{
    padding: 10px;
    gap: 10px;
    margin-right: 130px;
}

nav > button{
    color: #F9FAFB;
    background-color: oklch(0.205 0 0);
    border: 0px;
    padding: 30px;
    font-size: 25px;
    font-family: "Marck Script", serif;
}

nav > button:hover{
    color: oklch(0.769 0.188 70.08);
    transform: scale(1.01);
    cursor: pointer;
}

#content{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

.image{
    grid-column: 1 / 2;
    background-color: aliceblue;
    background-image: url(assets/cristi-ursea-TRcTy_qdBQY-unsplash.jpg);
    background-size: cover;
    background-position: 0px -190px;
}

.info{
    display: grid;
    grid-template-rows: 1fr 4fr;
    background-color: oklch(0.266 0.079 36.259);
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F9FAFB;
}

.q{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#quote{
    font-size: 80px;
    font-style: italic;
}

#quotee{
    font-size: 25px;
}

.lower{
   padding-left: 15px;
   padding-right: 15px; 
   color: #F9FAFB;
}

.lower > div:first-child{
    text-align: center;
    font-size: 35px;
}

.footer{
    grid-row: 3 / 4;
    background-color: oklch(0.205 0 0);
    color: #F9FAFB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}